<div class="container">
    <div class="row">
        <div class="col md-7 col-lg-6">
            <div class="bg-white br-15 p-4">
                <h1 class="font-weight-bold">
                    Appointment Request Successful!
                </h1>
                <p>
                    You can view that status of this request on the 
                    Appointments page, under Requests. We'll send you an email
                    once your doctor accepts.
                </p>
                <a class="d-block mt-3" routerLink="/app/appointments">View Appointments</a>
            </div>
        </div>
    </div>
</div>